:root {
  --primary-color: #e76f51;
  --secondary-color: #2a9d8f;
  --light-color: #f8f9fa;
  --dark-color: #6c757d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  background-color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Varela Round", sans-serif;
  margin: 0.7rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

ul {
  list-style-type: none;
}

p {
  margin: 0.5rem 0rem;
  font-size: 1.6rem;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-dark {
  background-color: var(--dark-color);
}

.btn {
  display: inline-block;
  border: none;
  padding: 0.4rem 1.6rem;
  background-color: var(--dark-color);
  color: #fff;
}

.btn-primary {
  background-color: var(--primary-color);
}
.btn-secondary {
  background-color: var(--secondary-color);
}
.btn-light {
  background-color: var(--light-color);
}

.btn:hover {
  opacity: 0.8;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-light {
  background-color: var(--light-color);
}

.container {
  max-width: 1100px !important;
  margin: 0 auto !important;
  padding: 1rem;
}
header {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10000;
}

header .grid-container {
  display: grid;
  grid-template-columns: 0.5fr 3fr 2fr;
  width: 100%;
}

header .grid-container img {
  width: 6.5rem;
}

nav {
  align-self: center;
  justify-self: start;
}

nav ul {
  display: flex;
}

nav a {
  font-weight: bold;
  font-size: 1.7rem;
  transition: all 0.2s;
}

nav li:last-child {
  display: none;
}

nav a:hover {
  background-color: #2a9d8f !important;
  padding: 1rem 0.1rem;
  color: #fff;
}

.socials {
  align-self: center;
  justify-self: end;
}

.socials a {
  font-size: 3.2rem;
  transition: all 0.3s;
}

.socials a:hover {
  font-size: 2.5rem;
}

.nav_item {
  border-radius: 5px;
  margin-right: 0.5rem;
}

.nav_item:hover {
  background-color: var(--light-color);
}

.active {
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: #fff;
}

.active:hover {
  color: #fff;
}

/* ------------------------------------------ */

#slider {
  background-color: #292828;
  padding: 1rem;
  z-index: 90;
  position: relative;
}

#slider::before {
  content: "";
  background: url(../img/rowing.jpeg);
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#slider .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
  z-index: 700;
  width: 100%;
  align-items: center;
}

#slider .grid-container .slider-content {
  text-align: left;
  align-self: center;
  color: #fff;
  padding: 1rem;
  grid-column: 1 / span 1;
  z-index: 100;
}

#slider .grid-container .slider-content h2 {
  font-size: 3.2rem;
  margin-block: 1.5rem;
}

#slider .grid-container .slider-content .btn {
  margin-block: 1.5rem;
  padding: 0.8rem 1.5rem;
}

.category {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1.3rem;
}

/* ------------------------------------------ */

#article .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.box-1 {
  background-color: #fff;
  padding: 1rem;
}

.box-1 .category {
  margin: 1rem 0 !important;
  display: inline-block;
}

.box-1 h3 {
  color: var(--dark-color);
}

#article .grid-container {
  padding-inline: 1rem;
}

/* ------------------------------------------ */

/* footer */

footer {
  background-color: var(--secondary-color);
  color: #fff;
}

footer a {
  color: #fff;
}

footer .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2;
  padding: 1rem;
  gap: 1rem;
}

.footer-content-1 {
  grid-column: 1 / span 1;
  grid-row: 1;
  background-color: #b6eada;
  padding: 1rem;
  border-radius: 5px;
  color: var(--dark-color);
}

.footer-content-1 img {
  grid-column: 1 / span 1;
  grid-row: 1;
  width: 15rem;
}

.footer-content-1 p {
  line-height: 2.3rem;
}

.footer-content-2 {
  grid-column: 2 / 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  line-height: 2rem;
}

.footer-content-2 input {
  grid-column: 2 / 2;
  grid-row: 1;
  padding: 0.5rem;
  width: 100%;
  margin-block: 0.5rem;
  border: none;
  outline: none;
  margin-block: 1.5rem;
}

.footer-content-2 button {
  padding-block: 1rem;
  border-radius: 5px;
}

.footer-content-3 {
  grid-column: 3 / 3;
  grid-row: 1;
}

.footer-content-3 li {
  border-bottom: 1px dotted #292828;
  padding: 1rem;
}

.footer-content-3 li a:hover {
  color: var(--primary-color);
}

.footer-content-4 {
  grid-column: 4 / span 4;
  grid-row: 1;
  padding-inline: 2rem;
}
.footer-content-4 a {
  transition: all 0.3s;
}

.footer-content-4 a:hover {
  font-size: 1rem;
}

.footer-content-5 {
  grid-column: 1 / span 4;
  grid-row: 2;
  text-align: center;
  background-color: #494848;
  padding: 1rem;
}

/* article */

#news-article .category {
  margin-left: auto;
}

.news-content-card {
  background-color: #fff;
  padding: 1rem;
}

.writer {
  display: flex;
  width: 100%;
  background-color: #d4d5d6;
  padding: 1rem;
}

.fa-user {
  align-self: center;
  margin-right: 1rem;
}

#news-article .category {
  margin-left: auto;
}

#news-article .grid-container {
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  grid-template-rows: 22rem 18rem 1fr;
  padding: 1rem;
  gap: 1.5rem;
}

#news-content {
  grid-row: 1 / span 3;
}

#join {
  background-color: var(--secondary-color);
  padding: 1rem;
  color: #fff;
  grid-row: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 2rem;
  gap: 2rem;
}

#join .btn-dark {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  justify-self: center;
}

#categories {
  background-color: #fff;
  grid-row: 2 / 2;
  padding: 1rem;
}

#categories li {
  margin-bottom: 1rem;
  border-bottom: 1px dotted #858484;
  padding-block: 0.5rem;
  width: 90%;
}

#categories a:hover {
  color: var(--primary-color);
}
